* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Copperplate;
}

body {
    position: relative;
    min-height: 100vh;
}

/*-------------------------------Header----------------------*/
.myNav {
    position: fixed;
    margin: 0 auto;
    width: 100%;
    left: 0;
    font-size: 14px;
    z-index: 10000;
}

    .myNav ul {
        position: relative;
        justify-content: center;
        align-items: center;
        margin: 0;
        display: flex;
        width: 100%;
    }

        .myNav ul li {
            list-style: none;
        }

.logo {
    font-size: 14px;
}

.myNav ul li,
.myNav ul li a {
    color: white;
    padding: 5px 20px;
    text-decoration: none !important;
}

    .myNav ul li a:hover {
        color: #ddd;
    }

    .myNav ul li:nth-child(2) a:hover {
        border-bottom: 1px solid #ddd;
        color: #ddd;
    }

    .myNav ul li:nth-child(3) a:hover {
        border-bottom: 1px solid #ddd;
        color: #ddd;
    }

    .myNav ul li:nth-child(4) a:hover {
        border-bottom: 1px solid #ddd;
        color: #ddd;
    }

    .myNav ul li:nth-child(6) a:hover {
        border-bottom: 1px solid #ddd;
        color: #ddd;
    }

    .myNav ul li a.myNav-item {
        transform: scale(1);
        transition: 0.5s;
        display: block;
    }

        .myNav ul li a.myNav-item.hide-item {
            transform: scale(0);
        }

    .myNav ul li:nth-child(1) a.myNav-item.hide-item {
        transition-delay: 0.5s
    }

    .myNav ul li:nth-child(2) a.myNav-item.hide-item {
        transition-delay: 0.4s
    }

    .myNav ul li:nth-child(3) a.myNav-item.hide-item {
        transition-delay: 0.3s
    }

    .myNav ul li:nth-child(4) a.myNav-item.hide-item {
        transition-delay: 0.2s
    }

    .myNav ul li:nth-child(6) a.myNav-item.hide-item {
        transition-delay: 0.1s
    }

    .myNav ul li:nth-child(1) a.myNav-item {
        transition-delay: 0.1s
    }

    .myNav ul li:nth-child(2) a.myNav-item {
        transition-delay: 0.2s
    }

    .myNav ul li:nth-child(3) a.myNav-item {
        transition-delay: 0.3s
    }

    .myNav ul li:nth-child(4) a.myNav-item {
        transition-delay: 0.4s
    }

    .myNav ul li:nth-child(6) a.myNav-item {
        transition-delay: 0.5s
    }

.search-form {
    position: absolute;
    top: 0;
    left: 30%;
    transform: translateX(50%);
    width: 35%;
    height: 35px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

    .search-form.active {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
        transform: translateX(0);
    }

    .search-form input::placeholder {
        color: white;
    }

    .search-form input {
        justify-content: center;
        background: transparent;
        margin: 5px;
        padding-left: 5px;
        position: absolute;
        width: 100%;
        cursor: pointer;
        height: 35px;
        align-items: center;
        border: none;
        color: white;
        font-size: 16px;
        border-bottom: 0.5px solid #ddd;
    }



.search-dropdown {
    position: inherit;
    width: 35%;
    height: 400px;
    display: none;
    background: #ddd;
    z-index: 3;
    left: 30%;
    border-radius: 0 0 20px 20px;
    margin: 5px;
}

    .search-dropdown.active {
        display: block;
        animation: growDown 1s ease-in-out forwards;
        transform-origin: top center;
    }

@keyframes growDown {
    0% {
        transform: scaleY(0)
    }

    80% {
        transform: scaleY(1.1)
    }

    100% {
        transform: scaleY(1)
    }
}


.close {
    position: absolute;
    top: 0;
    left: 100%;
    padding: 15px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
}

    .close.active {
        opacity: 1;
        visibility: visible;
    }

.menu-toggle {
    display: none;
    position: absolute;
    opacity: .5;
    z-index: 3;
    top: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

.banner {
    height: 25px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.banner-content1 {
    display: block;
    width: 200%;
    height: 30px;
    position: absolute;
    overflow: hidden;
    animation: marquee 20s linear infinite;
}

.banner-content2 {
    display: block;
    width: 200%;
    height: 30px;
    position: absolute;
    overflow: hidden;
    animation: marquee 20s linear infinite;
}

.banner-content1 span {
    position: relative;
    float: left;
    padding: 0 20px;
}
.banner-content2 span {
    position: relative;
    float: right;
    padding:0px 20px;
}

@keyframes marquee {
    0% {
        left: 0;
    }

    100% {
        left: -100%;
    }
}


.swiper-container {
    width: 100%;
    height: 100vh;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

    .swiper-slide:nth-child(1) {
        background: red;
    }

    .swiper-slide:nth-child(2) {
        background: blue;
    }

    .swiper-slide:nth-child(3) {
        background: green;
    }

@media only screen and (min-width:990px) {
    .menu-toggle {
        display: block;
    }
}
